.app {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
}

.app__form {
  display: flex;
  width: 100%;
}

.app > Button {
  margin-top: 10px;
}

.app__list {
  margin: auto;
}
