.app {
  display: flex;
  background-color: #476a6f;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  padding: 5%;
  border-radius: 50px;
}

.app__title {
  display: flex;
  justify-content: center;
  color: #eae6e5;
}

.app__form {
  display: flex;
  width: 100%;
  color: #eae6e5;
}

.app__form > Input {
  color: #eae6e5;
}

.app > Button {
  margin-top: 10px;
  color: #111;
  background-color: #eae6e5;
}

.app > Button:hover {
  background-color: #c5c9a4;
}

.app__list {
  margin-left: -7%;
  color: #eae6e5;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #d4cdf4 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #d4cdf4 !important;
}
